In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
# find total number of schools
total_schools = len(school_data["school_name"])
total_schools

15

In [34]:
# find total number of students
total_students = len(student_data["student_name"])
total_students

39170

In [35]:
budget = sum(school_data["budget"])
budget

24649428

In [36]:
average_math = sum(student_data["math_score"])/len(student_data["math_score"])
average_math

78.98537145774827

In [37]:
average_reading = sum(student_data["reading_score"])/len(student_data["reading_score"])
average_reading

81.87784018381414

In [38]:
passing_math = sum(student_data.math_score>=70)
passing_math

29370

In [41]:
percent_math = passing_math / len(student_data.math_score>=70) *100
percent_math

74.9808526933878

In [42]:
passing_reading = sum(student_data.reading_score>=70)
passing_reading

33610

In [43]:
percent_reading = passing_reading / len(student_data.reading_score>=70) *100
percent_reading

85.80546336482001

In [44]:
math = len(student_data.math_score >=70)
math

39170

In [64]:
percentages_df = pd.DataFrame(
    {"Total Schools" : [total_schools], "Total Students": [total_students],"Total Budget": [budget],
     "Average Math Score": [average_math], "Average Reading": [average_reading],
    "% Passing Math": [percent_math], "% Passing Reading": [percent_reading], "% Overall Passing": ["not yet"]})
percentages_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,not yet

In [65]:
#passing = >=70
#passing
#reading = student_data.groupby( passing )["reading_score"].mean()
#reading

In [48]:
#total_pass = passing_math + passing_reading
#total_pass

In [49]:
#total_pass2 = math + reading
#total_pass2

In [50]:
#overall_passing = total_pass / total_pass2 * 100
#overall_passing