In [208]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [209]:
# find total number of schools
total_schools = len(school_data["school_name"])

In [210]:
# find total number of students
total_students = len(student_data["student_name"])

In [211]:
# total budget
budget = sum(school_data["budget"])

In [212]:
#average math score
average_math = sum(student_data["math_score"])/len(student_data["math_score"])

In [213]:
#average reading score
average_reading = sum(student_data["reading_score"])/len(student_data["reading_score"])

In [214]:
# number of students passing math
passing_math = sum(student_data.math_score>=70)

In [215]:
#percentage of students passing math
percent_math = passing_math / len(student_data.math_score) *100

In [216]:
#number of students passing reading
passing_reading = sum(student_data.reading_score>=70)

In [217]:
#percentage of students passing reading
percent_reading = passing_reading / len(student_data.reading_score) *100

In [218]:
# Overall percent of students passing both math and reading
playing_df = student_data.loc[(student_data["reading_score"] >=70) & (student_data["math_score"] >= 70),:]

overall_passing = len(playing_df) / len(student_data) *100

In [219]:
#create dataframe to display all the above findings
percentages_df = pd.DataFrame(
    {"Total Schools" : [total_schools], "Total Students": [total_students],"Total Budget": [budget],
     "Average Math Score": [average_math], "Average Reading": [average_reading],
    "% Passing Math": [percent_math], "% Passing Reading": [percent_reading], "% Overall Passing": [ overall_passing]})
percentages_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [220]:
#format for comma separation and dollar sign
percentages_df["Total Students"] = percentages_df["Total Students"].map("{:,}".format)
percentages_df["Total Budget"] = percentages_df["Total Budget"].map("${:,.2f}".format)
percentages_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [221]:
#naming data to input into the summary by school table
school_names = school_data["school_name"]

In [222]:
school_type = school_data["type"]

In [223]:
total_students = school_data["size"]

In [224]:
school_budget = school_data["budget"]

In [225]:
per_student = school_budget / total_students

In [256]:
#find specific info for Huang High School
huang = student_data.loc[student_data["school_name"] == "Huang High School", :]

huang_avg_math = sum(huang["math_score"] / len(huang))

huang_avg_reading = sum(huang["reading_score"] / len(huang))

huang_passing_math = sum(huang.math_score>=70)
huang_percent_math = huang_passing_math / len(huang) * 100

huang_passing_reading = sum(huang.reading_score>=70)
huang_percent_reading = huang_passing_reading/len(huang) * 100


huang1 = huang.loc[(huang["reading_score"] >=70) & (huang["math_score"] >= 70),:]
huang_overall = len(huang1) / len(huang) * 100

In [257]:
#find specific info for Figueroa High School
fig = student_data.loc[student_data["school_name"] == "Figueroa High School",:]

fig_avg_math = sum(fig["math_score"] / len(fig))

fig_avg_reading = sum(fig["reading_score"] / len(fig))

fig_passing_math = sum(fig.math_score>=70)
fig_percent_math = fig_passing_math / len(fig) * 100

fig_passing_reading = sum(fig.reading_score>=70)
fig_percent_reading = fig_passing_reading / len(fig) * 100

fig1 = fig.loc[(fig["reading_score"] >=70) & (fig["math_score"] >=70),:]
fig_overall = len(fig1) / len(fig) * 100

In [258]:
#find specific info for Shelton High School
shel = student_data.loc[student_data["school_name"] == "Shelton High School",:]

shel_avg_math = sum(shel["math_score"] / len(shel))

shel_avg_reading = sum(shel["reading_score"] / len(shel))

shel_passing_math = sum(shel.math_score>=70)
shel_percent_math = shel_passing_math / len(shel) * 100

shel_passing_reading = sum(shel.reading_score>=70)
shel_percent_reading = shel_passing_reading / len(shel) * 100

shel1 = shel.loc[(shel["reading_score"] >=70) & (shel["math_score"] >=70),:]
shel_overall = len(shel1) / len(shel) * 100

In [259]:
#find specific info for Hernandez High School
hern = student_data.loc[student_data["school_name"] == "Hernandez High School",:]

hern_avg_math = sum(hern["math_score"] / len(hern))

hern_avg_reading = sum(hern["reading_score"] / len(hern))

hern_passing_math = sum(hern.math_score>=70)
hern_percent_math = hern_passing_math / len(hern) * 100

hern_passing_reading = sum(hern.reading_score>=70)
hern_percent_reading = hern_passing_reading / len(hern) * 100

hern1 = hern.loc[(hern["reading_score"] >=70) & (hern["math_score"] >=70),:]
hern_overall = len(hern1) / len(hern) * 100

In [260]:
#find specific info for Griffin High School
griff = student_data.loc[student_data["school_name"] == "Griffin High School",:]

griff_avg_math = sum(griff["math_score"] / len(griff))

griff_avg_reading = sum(griff["reading_score"] / len(griff))

griff_passing_math = sum(griff.math_score>=70)
griff_percent_math = griff_passing_math / len(griff) * 100

griff_passing_reading = sum(griff.reading_score>=70)
griff_percent_reading = griff_passing_reading / len(griff) * 100

griff1 = griff.loc[(griff["reading_score"] >=70) & (griff["math_score"] >=70),:]
griff_overall = len(griff1) / len(griff) * 100

In [261]:
#find specific info for Wilson High School
wil = student_data.loc[student_data["school_name"] == "Wilson High School",:]

wil_avg_math = sum(wil["math_score"] / len(wil))

wil_avg_reading = sum(wil["reading_score"] / len(wil))

wil_passing_math = sum(wil.math_score>=70)
wil_percent_math = wil_passing_math / len(wil) * 100

wil_passing_reading = sum(wil.reading_score>=70)
wil_percent_reading = wil_passing_reading / len(wil) * 100

wil1 = wil.loc[(wil["reading_score"] >=70) & (wil["math_score"] >=70),:]
wil_overall = len(wil1) / len(wil) * 100

In [262]:
#find specific info for Cabrera High School
cab = student_data.loc[student_data["school_name"] == "Cabrera High School",:]

cab_avg_math = sum(cab["math_score"] / len(cab))

cab_avg_reading = sum(cab["reading_score"] / len(cab))

cab_passing_math = sum(cab.math_score>=70)
cab_percent_math = cab_passing_math / len(cab) * 100

cab_passing_reading = sum(cab.reading_score>=70)
cab_percent_reading = cab_passing_reading / len(cab) * 100

cab1 = cab.loc[(cab["reading_score"] >=70) & (cab["math_score"] >=70),:]
cab_overall = len(cab1) / len(cab) * 100

In [263]:
#find specific info for Bailey High School
bail = student_data.loc[student_data["school_name"] == "Bailey High School",:]

bail_avg_math = sum(bail["math_score"] / len(bail))

bail_avg_reading = sum(bail["reading_score"] / len(bail))

bail_passing_math = sum(bail.math_score>=70)
bail_percent_math = bail_passing_math / len(bail) * 100

bail_passing_reading = sum(bail.reading_score>=70)
bail_percent_reading = bail_passing_reading / len(bail) * 100

bail1 = bail.loc[(bail["reading_score"] >=70) & (bail["math_score"] >=70),:]
bail_overall = len(bail1) / len(bail) * 100

In [264]:
#find specific info for Holden High School
hold = student_data.loc[student_data["school_name"] == "Holden High School",:]

hold_avg_math = sum(hold["math_score"] / len(hold))

hold_avg_reading = sum(hold["reading_score"] / len(hold))

hold_passing_math = sum(hold.math_score>=70)
hold_percent_math = hold_passing_math / len(hold) * 100

hold_passing_reading = sum(hold.reading_score>=70)
hold_percent_reading = hold_passing_reading / len(hold) * 100

hold1 = hold.loc[(hold["reading_score"] >=70) & (hold["math_score"] >=70),:]
hold_overall = len(hold1) / len(hold) * 100

In [265]:
#find specific info for Pena High School
pen = student_data.loc[student_data["school_name"] == "Pena High School",:]

pen_avg_math = sum(pen["math_score"] / len(pen))

pen_avg_reading = sum(pen["reading_score"] / len(pen))

pen_passing_math = sum(pen.math_score>=70)
pen_percent_math = pen_passing_math / len(pen) * 100

pen_passing_reading = sum(pen.reading_score>=70)
pen_percent_reading = pen_passing_reading / len(pen) * 100

pen1 = pen.loc[(pen["reading_score"] >=70) & (pen["math_score"] >=70),:]
pen_overall = len(pen1) / len(pen) * 100

In [266]:
#find specific info for Wright High School
wri = student_data.loc[student_data["school_name"] == "Wright High School",:]

wri_avg_math = sum(wri["math_score"] / len(wri))

wri_avg_reading = sum(wri["reading_score"] / len(wri))

wri_passing_math = sum(wri.math_score>=70)
wri_percent_math = wri_passing_math / len(wri) * 100

wri_passing_reading = sum(wri.reading_score>=70)
wri_percent_reading = wri_passing_reading / len(wri) * 100

wri1 = wri.loc[(wri["reading_score"] >=70) & (wri["math_score"] >=70),:]
wri_overall = len(wri1) / len(wri) * 100

In [267]:
#find specific info for Rodriguez High School
rod = student_data.loc[student_data["school_name"] == "Rodriguez High School",:]

rod_avg_math = sum(rod["math_score"] / len(rod))

rod_avg_reading = sum(rod["reading_score"] / len(rod))

rod_passing_math = sum(rod.math_score>=70)
rod_percent_math = rod_passing_math / len(rod) * 100

rod_passing_reading = sum(rod.reading_score>=70)
rod_percent_reading = rod_passing_reading / len(rod) * 100

rod1 = rod.loc[(rod["reading_score"] >=70) & (rod["math_score"] >=70),:]
rod_overall = len(rod1) / len(rod) * 100

In [268]:
#find specific info for Johnson High School
john = student_data.loc[student_data["school_name"] == "Johnson High School",:]

john_avg_math = sum(john["math_score"] / len(john))

john_avg_reading = sum(john["reading_score"] / len(john))

john_passing_math = sum(john.math_score>=70)
john_percent_math = john_passing_math / len(john) * 100

john_passing_reading = sum(john.reading_score>=70)
john_percent_reading = john_passing_reading / len(john) * 100

john1 = john.loc[(john["reading_score"] >=70) & (john["math_score"] >=70),:]
john_overall = len(john1) / len(john) * 100

In [269]:
#find specific info for Ford High School
ford = student_data.loc[student_data["school_name"] == "Ford High School",:]

ford_avg_math = sum(ford["math_score"] / len(ford))

ford_avg_reading = sum(ford["reading_score"] / len(ford))

ford_passing_math = sum(ford.math_score>=70)
ford_percent_math = ford_passing_math / len(ford) * 100

ford_passing_reading = sum(ford.reading_score>=70)
ford_percent_reading = ford_passing_reading / len(ford) * 100

ford1 = ford.loc[(ford["reading_score"] >=70) & (ford["math_score"] >=70),:]
ford_overall = len(ford1) / len(ford) * 100

In [270]:
#find specific info for Thomas High School
tom = student_data.loc[student_data["school_name"] == "Thomas High School",:]

tom_avg_math = sum(tom["math_score"] / len(tom))

tom_avg_reading = sum(tom["reading_score"] / len(tom))

tom_passing_math = sum(tom.math_score>=70)
tom_percent_math = tom_passing_math / len(tom) * 100

tom_passing_reading = sum(tom.reading_score>=70)
tom_percent_reading = tom_passing_reading / len(tom) * 100

tom1 = tom.loc[(tom["reading_score"] >=70) & (tom["math_score"] >=70),:]
tom_overall = len(tom1) / len(tom) * 100

In [271]:
#School Summary DataFrame
school_summary = pd.DataFrame(
   {"School Name" : (school_names), "School Type" : (school_type), "Total Students" : (total_students), "Total School Budget" : (school_budget),
   "Per Student Budget" : (per_student), 
    "Average Math Score" : [huang_avg_math, fig_avg_math, shel_avg_math, hern_avg_math, griff_avg_math, wil_avg_math, cab_avg_math, bail_avg_math
                            , hold_avg_math, pen_avg_math, wri_avg_math, rod_avg_math, john_avg_math, ford_avg_math, tom_avg_math],
    "Average Reading Score" : [huang_avg_reading, fig_avg_reading, shel_avg_reading, hern_avg_reading, griff_avg_reading, wil_avg_reading, cab_avg_reading,
                            bail_avg_reading, hold_avg_reading, pen_avg_reading, wri_avg_reading, rod_avg_reading, john_avg_reading, ford_avg_reading,
                            tom_avg_reading],
    "% Passing Math" : [huang_percent_math, fig_percent_math, shel_percent_math, hern_percent_math, griff_percent_math, wil_percent_math, cab_percent_math,
                      bail_percent_math, hold_percent_math, pen_percent_math, wri_percent_math, rod_percent_math, john_percent_math, ford_percent_math,
                      tom_percent_math], 
    "% Passing Reading" : [huang_percent_reading, fig_percent_reading, shel_percent_reading, hern_percent_reading, griff_percent_reading, 
                        wil_percent_reading, cab_percent_reading, bail_percent_reading, hold_percent_reading, pen_percent_reading, wri_percent_reading,
                        rod_percent_reading, john_percent_reading, ford_percent_reading, tom_percent_reading], 
    "% Overall Passing" : [huang_overall, fig_overall, shel_overall, hern_overall, griff_overall, wil_overall, cab_overall, bail_overall, hold_overall,
                        pen_overall, wri_overall, rod_overall, john_overall, ford_overall, tom_overall],
   } )
school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [272]:
#format for comma separation and dollar sign
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
#school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("")
school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
13,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012

In [273]:
#School Summary DataFrame with School Name as index
school_summary2 = school_summary.set_index("School Name")
school_summary2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012

In [274]:
# Top 5 Schools based on Overall passing %
overall_df = school_summary2.sort_values("% Overall Passing", ascending=False)
overall_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [275]:
# Bottom 5 Schools Based on Overall Passing %
worst_overall_df = school_summary2.sort_values("% Overall Passing")
worst_overall_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [282]:
#find specific info for Huang High School by grade level
#huang = student_data.loc[student_data["school_name"] == "Huang High School", :]

huang_9th = huang.loc[huang["grade"] == "9th" , :]
huang_10th = huang.loc[huang["grade"] == "10th", :]
huang_11th = huang.loc[huang["grade"] == "11th", :]
huang_12th = huang.loc[huang["grade"] == "12th", :]

huang_9th_math = sum(huang_9th["math_score"] / len(huang_9th))
huang_10th_math = sum(huang_10th["math_score"] / len(huang_10th))
huang_11th_math = sum(huang_11th["math_score"] / len(huang_11th))
huang_12th_math = sum(huang_12th["math_score"] / len(huang_12th))

huang_9th_reading = sum(huang_9th["reading_score"] / len(huang_9th))
huang_10th_reading = sum(huang_10th["reading_score"] / len(huang_10th))
huang_11th_reading = sum(huang_11th["reading_score"] / len(huang_11th))
huang_12th_reading = sum(huang_12th["reading_score"] / len(huang_12th))

In [283]:
#find specific info for Figueroa High School by grade level
#fig = student_data.loc[student_data["school_name"] == "Figueroa High Shool", :]

fig_9th = fig.loc[fig["grade"] == "9th" , :]
fig_10th = fig.loc[fig["grade"] == "10th", :]
fig_11th = fig.loc[fig["grade"] == "11th", :]
fig_12th = fig.loc[fig["grade"] == "12th", :]

fig_9th_math = sum(fig_9th["math_score"] / len(fig_9th))
fig_10th_math = sum(fig_10th["math_score"] / len(fig_10th))
fig_11th_math = sum(fig_11th["math_score"] / len(fig_11th))
fig_12th_math = sum(fig_12th["math_score"] / len(fig_12th))

fig_9th_reading = sum(fig_9th["reading_score"] / len(fig_9th))
fig_10th_reading = sum(fig_10th["reading_score"] / len(fig_10th))
fig_11th_reading = sum(fig_11th["reading_score"] / len(fig_11th))
fig_12th_reading = sum(fig_12th["reading_score"] / len(fig_12th))

In [284]:
#find specific info for Shelton High School by grade level
#shel = student_data.loc[student_data["school_name"] == "Shelton High Shool", :]

shel_9th = shel.loc[shel["grade"] == "9th" , :]
shel_10th = shel.loc[shel["grade"] == "10th", :]
shel_11th = shel.loc[shel["grade"] == "11th", :]
shel_12th = shel.loc[shel["grade"] == "12th", :]

shel_9th_math = sum(shel_9th["math_score"] / len(shel_9th))
shel_10th_math = sum(shel_10th["math_score"] / len(shel_10th))
shel_11th_math = sum(shel_11th["math_score"] / len(shel_11th))
shel_12th_math = sum(shel_12th["math_score"] / len(shel_12th))

shel_9th_reading = sum(shel_9th["reading_score"] / len(shel_9th))
shel_10th_reading = sum(shel_10th["reading_score"] / len(shel_10th))
shel_11th_reading = sum(shel_11th["reading_score"] / len(shel_11th))
shel_12th_reading = sum(shel_12th["reading_score"] / len(shel_12th))