In [32]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [100]:
# find total number of schools
total_schools = len(school_data["school_name"])

In [101]:
# find total number of students
total_students = len(student_data["student_name"])

In [102]:
# total budget
budget = sum(school_data["budget"])

In [103]:
#average math score
average_math = sum(student_data["math_score"])/len(student_data["math_score"])

In [104]:
#average reading score
average_reading = sum(student_data["reading_score"])/len(student_data["reading_score"])

In [105]:
# number of students passing math
passing_math = sum(student_data.math_score>=70)

In [106]:
#percentage of students passing math
percent_math = passing_math / len(student_data.math_score) *100

In [107]:
#number of students passing reading
passing_reading = sum(student_data.reading_score>=70)

In [108]:
#percentage of students passing reading
percent_reading = passing_reading / len(student_data.reading_score) *100

In [97]:
# Overall percent of students passing both math and reading
playing_df = student_data.loc[(student_data["reading_score"] >=70) & (student_data["math_score"] >= 70),:]

overall_passing = len(playing_df) / len(student_data) *100

In [112]:
#create dataframe to display all the above findings
percentages_df = pd.DataFrame(
    {"Total Schools" : [total_schools], "Total Students": [total_students],"Total Budget": [budget],
     "Average Math Score": [average_math], "Average Reading": [average_reading],
    "% Passing Math": [percent_math], "% Passing Reading": [percent_reading], "% Overall Passing": [ overall_passing]})
percentages_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [113]:
#format for comma separation and dollar sign
percentages_df["Total Students"] = percentages_df["Total Students"].map("{:,}".format)
percentages_df["Total Budget"] = percentages_df["Total Budget"].map("${:,.2f}".format)
percentages_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [125]:
#naming data to input into the summary by school table
school_names = school_data["school_name"]

In [126]:
school_type = school_data["type"]

In [127]:
total_students = school_data["size"]

In [130]:
school_budget = school_data["budget"]

In [134]:
per_student = school_budget / total_students

In [148]:
#find specific info for Huang High School
huang = student_data.loc[student_data["school_name"] == "Huang High School", :]

huang_avg_math = sum(huang["math_score"] / len(huang))

huang_avg_reading = sum(huang["reading_score"] / len(huang))

huang_passing_math = sum(huang.math_score>=70)
huang_percent_math = huang_passing_math / len(huang) * 100

huang_passing_reading = sum(huang.reading_score>=70)
huang_percent_reading = huang_passing_reading/len(huang) * 100


huang1 = huang.loc[(huang["reading_score"] >=70) & (huang["math_score"] >= 70),:]
huang_overall = len(huang1) / len(huang) * 100

In [ ]:
#find specific info for Figueroa High School
fig = student_data.loc[student_data"school_name"] == "Figueroa High School"

fig_avg_math = sum(fig["math_score"] / len(fig))

fig_avg_reading = sum(fig["reading_score"] / len(fig))

fig_passing_math = sum(fig.math_score>=70)
fig_percent_math = fig_passing_math / len(fig) * 100

fig_passing_reading = sum(fig.reading_score>=70)
fig_percent_reading = fig_passing_reading / len(fig) * 100

fig1 = fig.loc[(fig["reading_score"] >=70) & (fig["math_score"] >=70),:]
fig_overall = len(fig1) / len(fig) * 100

In [ ]:
#find specific info for Shelton High School
shel = student_data.loc[student_data"school_name"] == "Shelton High School"

shel_avg_math = sum

In [133]:
school_summary = pd.DataFrame(
   {"School Name" : (school_names), "School Type" : (school_type), "Total Students" : (total_students), "Total School Budget" : (school_budget),
   "Per Student Budget" : (per_student), 
    "Average Math Score" : [huang_avg_math, fig_avg_math, shel_avg_math,],
    "Average Reading Score" : [huang_avg_reading, fig_avg_math, shel_avg_math],
    "% Passing Math" : [huang_percent_math, fig_percent_math, shel_percent_math], 
    "% Passing Reading" : [huang_percent_reading, fig_percent_reading, shel_percent_reading], 
    "% Overall Passing" : [huang_overall, fig_overall, shel_overall],
   } )
school_summary.head(15)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget
0,Huang High School,District,2917,1910635,655.0
1,Figueroa High School,District,2949,1884411,639.0
2,Shelton High School,Charter,1761,1056600,600.0
3,Hernandez High School,District,4635,3022020,652.0
4,Griffin High School,Charter,1468,917500,625.0
5,Wilson High School,Charter,2283,1319574,578.0
6,Cabrera High School,Charter,1858,1081356,582.0
7,Bailey High School,District,4976,3124928,628.0
8,Holden High School,Charter,427,248087,581.0
9,Pena High School,Charter,962,585858,609.0
10,Wright High School,Charter,1800,1049400,583.0
11,Rodriguez High School,District,3999,2547363,637.0
12,Johnson High School,District,4761,3094650,650.0
13,Ford High School,District,2739,1763916,644.0
14,Thomas High School,Charter,1635,1043130,638.0