In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
# find total number of schools
total_schools = len(school_data_complete["school_name"].unique())
total_schools

15

In [16]:
# find total number of students
total_students = len(school_data_complete["student_name"])
total_students

39170

In [17]:
budget = sum(school_data_complete["budget"].unique())
budget

24649428

In [18]:
average_math = sum(school_data_complete["math_score"])/len(school_data_complete["math_score"])
average_math

78.98537145774827

In [19]:
average_reading = sum(school_data_complete["reading_score"])/len(school_data_complete["reading_score"])
average_reading

81.87784018381414

In [33]:
passing_math = sum(school_data_complete.math_score>=70)
passing_math

29370

In [34]:
percent_math = passing_math / len(school_data_complete.math_score>=70) *100
percent_math

74.9808526933878

In [35]:
passing_reading = sum(school_data_complete.reading_score>=70)
passing_reading

33610

In [36]:
percent_reading = passing_reading / len(school_data_complete.reading_score>=70) *100
percent_reading

85.80546336482001

In [ ]:
overall_pass = sum(passing_reading, passing_math) /